Source: winestuff
Priority: optional
Maintainer: Pavel Zinin (Pashazz`s GnuPG key) <PZinin@gmail.com>
Build-Depends: debhelper (>= 7), cmake, fuseiso, libqt4-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://github.com/pashazz/winestuff

Package: winestuff-dev
Section: libdevel
Architecture: any
Depends: winestuff0 (= ${binary:Version})
Description: Winestuff - Development files (headers)
	Winestuff is an library for creating and manipulating Wine prefixes, written in C++/Qt4. Used in WineGame.

Package: winestuff0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, winetricks, fuseiso, wine, libqt4-sql-sqlite
Description:  Winestuff - Development files (headers)
	Winestuff is an library for creating and manipulating Wine prefixes, written in C++/Qt4. Used in WineGame.
